
<ion-view title=" About ">


<ion-nav-buttons side="left">

  <button class="button button-icon button-clear ion-navicon" ng-click="openMenuLeft()"></button>
</ion-nav-buttons>

       <ion-nav-buttons side="right">

         <i class="icon ion-person"> {{userName}} </i>

       </ion-nav-buttons>



 <ion-side-menus>

   <ion-pane ion-side-menu-content>

             <ion-view>
               <ion-content>
        <p align ="center" style ="top = 100px">



          Bicnet Infoservices Pvt. Ltd., Mumbai-India conceptualized in 1995 has emerged as the new technology leader in providing Domain name registration, Cloud based Email Hosting Services, Linux hosting solutions, VOIP Solutions and Android Application development and training.

Due to our simple and comprehensive approach we have corporate clients in Mumbai and Globally.
</p>


<p>
Our Contact Details !
<p>
Bicnet InfoServices Pvt. Ltd.
J/136, Ansa Industrial Estate, SakiVihar Road
Andheri(East)
Mumbai-400072
Tel: 022 28470101/ 28470331
Fax: 022 28470285
Email: support@bicnet.info
</p>
</p>



<p>

Bicnet Infoservices Mumbai delivers cutting edge products and services that offer the best value to the customer. Bicnet Infoservices Mumbai is committed to fair business policies that help build lasting relationships with Customers.

Our vision is profitable growth for us and our clients through exceptional customer services, superior quality, dynamic innovation and most dedicated commitment.

</p>




            </ion-content>
        </ion-view>
   </ion-pane>

   <ion-side-menu side="left">

     <header class="bar bar-header bar-stable">

       <h1 class="title">List</h1>

     </header>
     <ion-content class="has-header">



       <ion-list>

         <ion-item nav-clear menu-close href="#/mainmodule">
          Normal Account
         </ion-item>

         <ion-item nav-clear menu-close href="#/setting">
          Setting
         </ion-item>

         <ion-item nav-clear menu-close href="#/about">
           About
         </ion-item>
         <ion-item nav-clear menu-close href="#/login">
           Logout
         </ion-item>

       </ion-list>
</ion-content>
   </ion-side-menu>


</ion-side-menus>

</ion-view>
