

<ion-view  title="Normal Account " ng-controller="aboutCtrl">


  <ion-nav-buttons side="left">

    <button class="button button-icon button-clear ion-navicon" ng-click="openMenuLeft()"></button>

  </ion-nav-buttons>


      <ion-nav-buttons side="right">

        <i class="icon ion-person"> {{userName}} </i>

      </ion-nav-buttons>



   <ion-side-menus>

     <ion-pane ion-side-menu-content>

        <ion-view >

          <ion-content class="padding">

            <div class="list" ng-controller = "MainModuleController as main">

                 <label align-items= "center" class="item item-input">

                 <span class="input-label" >Main Module</span>

                 </label>

               <label class="item item-input ">
                 <i class="icon ion-person"></i>
               <span class="input-label" >User Id :</span>

               <input type="text" placeholder="Enter User ID " ng-model="main.userid">
               </label>

               <label class="item item-input ">
                 <i class="icon ion-person"></i>
               <span class="input-label">Password :</span>
               <input  type="password" placeholder="Enter User Password" ng-model="main.userpassword">
               </label>



            <label class="item item-input">
            <i class="icon ion-locked"></i>
                      <span class="input-label">Website :</span>
                      <input type="text" placeholder="Enter Website" ng-model="main.userwebsite">
                      </label>



               <label class="item item-input ">
                 <i class="icon ion-email"></i>
               <span class="input-label">Hint:</span>
               <input type="text" placeholder="Enter Hint" ng-model="main.userhint">
               </label>



        <div class="item items-divider">

        <button class="button button-calm  " ng-click="addRecord()">Add Record</button>
        <button class="button button-calm " ng-click="displayRecord()">Display Record </button>
        <button class="button  button-calm " ng-click="clearRecord()">Clear Record</button>
        </div>


            <table data-table id="customers">
                <thead>
                    <tr>
                        <th> NO.   </th>
                        <th> User ID   </th>
                        <th> User Password  </th>
                        <th> User Website  </th>
                        <th> User Hint     </th>
                        <th> Date     </th>
                        <th> Action  </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in records track by $index">

                        <td>{{ $index + 1 }}</td>
                        <td>{{ record.userid }}</td>

                        <td>{{record.userpassword }}</td>

                        <td>{{ record.userwebsite }}</td>

                        <td>{{ record.userhint }}</td>

                          <td>{{ record.date }}</td>

        <td>    <button class="button ion-android-delete"   data-ng-click="deleteRecord(record.userdate)" >
          <button class="button ion-edit" data-ng-click="openModal(record)" ></button></td>

                    </tr>
                </tbody>
            </table>



          </div>



          </ion-content>
        </ion-view>


     </ion-pane>

     <ion-side-menu side="left">

       <header class="bar bar-header bar-stable">

         <h1 class="title">List</h1>

       </header>
       <ion-content class="has-header">


         <ion-list>
           <ion-item nav-clear menu-close href="#/mainmodule">
            Normal Account
           </ion-item>

           <ion-item nav-clear menu-close href="#/setting">
            Setting
           </ion-item>

           <ion-item nav-clear menu-close href="#/about">
             About
           </ion-item>
           <ion-item nav-clear menu-close href="#/login">
             Logout
           </ion-item>

         </ion-list>


       </ion-content>




     </ion-side-menu>


 </ion-side-menus>


</ion-view>
